html, body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

#meme-background {
  width: 600px;
  float: left;
  text-align: center;
  position: relative;
}

#meme-background img {
  max-width: 100%;
}

#meme-text-top {
  position: absolute;
  top: 0;
  width: 540px;
  text-align: center;
  margin: 20px;
}

#meme-text-bottom {
  position: absolute;
  bottom: 0;
  width: 540px;
  text-align: center;
  margin: 20px;
}

#editor {
  width: 385px;
  float: left;
  margin-left: 15px;
}

#editor label,
#editor input {
  display: block;
  margin-bottom: 10px;
}

#editor input {
  width: 95%;
  padding: 5px;
  font-size: 16px;
}

#meme-options {
  display: flex;
  flex-wrap: wrap;
}

#meme-option {
  width: 23%;
  margin: 10px;
  cursor: pointer;
}

#meme-option img {
  width: 100%;
}
